h1 {
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    font-weight: 700px;
    text-align: center;   
}  

a {
    text-align: center;
    text-transform: uppercase;
    color: deeppink;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

body {
    color: deeppink;
    background-color: black;
    text-align: center;
}
.item {
    display: inline-block;
}

li {
    list-style-type: none;
}

main {
    background-color: black;
    background-position: center;
     text-align: center;    
}
.contenedorUno {
    border: 5px blueviolet double;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

main {
    border: 6px aquamarine dashed;
    padding: 20px;
    margin: 20px;
   margin-left:  300px;
   margin-right: 300px;  
}

.contenedorCuatro {
    width:  180px;
}

.parrafo {
     font-size: 40px;
     font-weight: 400px;
}

 h2 {
        
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
     font-weight: bold;
     color: aqua;
}

.contenedorDos {
    width: 600px;
}
 
footer {
    color: aliceblue;
    text-align: center;
    background-color: darkmagenta;
}

/* GRID AREA */

.gridPadre {
    display: grid;
    grid-template-areas:
    "encabezado"
    "encabezado"
    "main"
    "main"
    "footer"
    "footer";
}

header {
    grid-area: encabezado;
}

.mainIndex {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media (min-width:576px) {
   .gridPadre {
    display: grid;
    grid-template-areas: 
    "encabezado"
    "main"
    "footer";
   }
}

@media (min-width:768px) {
    .gridPadre {
        display: grid;
        grid-template-areas: 
        "encabezado"
        "main"
        "footer";
    }
}
    @keyframes titulo{
        25%{
          background-color: aliceblue;
    }
        50%{
          background-color: aqua;
    
    }
     100%{
       background-color: deeppink;
     }
    }

    .titulo{
        animation-name: titulo;
        animation-duration: 5s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;

    }

    @keyframes tituloSer{
        25% {
            background-color: black;
        }
        50%{
            background-color: aqua;
        }
        75%{
            background-color: deeppink;
        }
    
    }

    .tituloSer{
        animation-name: tituloSer;
        animation-duration: 3s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }