h1 {
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    font-weight: 700px;
    text-align: center;   
}  

a {
    text-align: center;
    text-transform: uppercase;
    color: deeppink;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

body {
    color: deeppink;
    background-color: black;
    text-align: center;
}
.item {
    display: inline-block;
}

li {
    list-style-type: none;
}

main {
    background-color: black;
    background-position: center;
     text-align: center;    
}
.contenedorUno {
    border: 5px blueviolet double;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

main {
    border: 6px aquamarine dashed;
    padding: 20px;
    margin: 20px;
   margin-left:  300px;
   margin-right: 300px;  
}

.contenedorCuatro {
    width:  180px;
}

.parrafo {
     font-size: 40px;
     font-weight: 400px;
}

 h2 {
        
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
     font-weight: bold;
     color: aqua;
}

.contenedorDos {
    width: 600px;
}
 
footer {
    color: aliceblue;
    text-align: center;
    background-color: darkmagenta;
}
    


