/*mobile first*/
#body_grid{
    display: grid;
    grid-area: auto;
    justify-self: center;
    align-items: center;

}
.titulo{
    justify-self: center;
    align-items: center; 
}
.header{
    justify-self: center;
    align-items: center;  
}

.nav{
    display: grid;
    justify-self: center;
    align-items: center;
}
.item{
    justify-self: center;
    align-items: center;
}
.historia{
    justify-self: center;
    align-items: center; 
}
.footer{
    justify-self: center;
    align-items: center; 
}
/*tablet*/

@media(min-width:768){
    .nav{ 
        grid-template-columns: auto;
        display: flex;
    }
}
/*destok*/

@media(min-width:1028){
    .nav{ 
        grid-template-columns: auto;
        display: flex;
    }
}